.contentAccount{
	padding-left: 3%;
	padding-top: 1%;
}
.white{
	background-color: #ffffff;	
}
.margin{
	margin-top: 5px;
	margin-bottom: 5px;
}
.userData{
	padding-right: 35px;
	color: #047597;
	font-size: 1.8rem;
}
.textAcc{
	color: #c9c9c9;
	font-size: 1rem;
}
.settings > img{
    padding-right: 22px;
    padding-top: 6px;
}
.cardDetail{
	background-color: #F0F8FF;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imgCard > img{
	width: 215px;
	height: 108px;
}
.search{
	width: 80%;
	margin-left: 2%;
}
.titleTable{
	background-color: #ffffff;
}
.textCenter{
	text-align: center;
}
.textRight{
	text-align: right;
	padding-right: 5% !important;
}
.detail{
	padding-bottom: 0.5%;
}
.cardDate{
	font-size: 1.2rem;
	color: #333333;
}
.cardTitle{
	font-size: 2.2rem;
}
.decimal{
	font-size: 1.5rem !important;
	margin-top: 3%;
}
.cardAmount{
	font-size: 4.2rem;
}
.imgSearch{
	background-image: url('../images/Magnifiercopia.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 2%;
}
.imgSearch[type:text]:focus{
	background-color: #ffffff;
	background-image: url('../images/Magnifiercopia.png');
	background-repeat: no-repeat;
	background-position: left center;
}
.tablePadding{
	width: 95% !important;
}
.imgDown{
	padding-top: 7%;
}