<div class="headerLogin row">
		<div class="row">
			<div class="loginBack col-md-4">
				<a href="javascript:void(0);" ng-click="gotoHome()"><img class="imgSize" src="images/Left.png" alt="arrowLeft"/> REGRESAR AL INICIO</a>
			</div>
			<div class="logoW col-md-4">
				<img src="images/logoW.png" alt="logo" />
			</div>
			<div class="loginRegister col-md-4">
				<a href="javascript:void(0);" ng-click="gotoRegister()"><u>REGISTRARME</u></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"><br/></div>
			<div class="title col-md-4">
				<span>INICIAR SESI&Oacute;N</span>
			</div>
			<div class="col-md-4"><br/></div>
		</div>
		
</div>