<div>
	<div class="contentPass row">
		<div class="titlePass row">
			<span>Cambiar contraseña</span>
		</div>
		<div class="passContent2 row">
			<div class="col-md-1"><br/></div>
			<div class="col-md-10 inputCode inputCode2 row">
				<input type="text" placeholder="Contraseña actual" /><br/>
				<input class="space2" type="text" placeholder="Nueva Contraseña" /><br/>
				<input class="space2" type="text" placeholder="Confirmar nueva contraseña" /><br/>	
			</div>
		</div>
		<div class="buttonPass row">
			<button ng-click="savePass()">GUARDAR</button>
		</div>
	</div>
	<div class="spaceSettings2"><br/></div>
</div>