<div>
	<div class="activationCode row">
		<div class="col-md-4"><br/></div>
		<div class="titleRegister col-md-4">
			<span>C&Oacute;DIGO DE ACTIVACI&Oacute;N</span>
		</div>
		<div class="col-md-4"><br/></div>
	</div>
	<div class="row">
		<div class="col-md-4"><br/></div>
		<div class="inputCode col-md-4">
			<input type="text" placeholder="Código de Activación"><img src="images/info_icon.png" alt="info"/></input><br/>
			<span class="code"><u>No he recibido el c&oacute;digo de activaci&oacute;n</u></span>
		</div>
		<div class="col-md-4"><br/></div>
	</div>
	<div class="barButton row">
		<div class="col-md-3"><br/></div>
		<div class="col-md-6">
			<div class="buttonBack col-md-6" ng-click="gotoHome()"><button>REGRESAR A INICIO</button></div>
			<div class="buttonFollow col-md-6" ng-click="completeStep(1)"><button>SIGUIENTE</button></div>
		</div>
		<div class="col-md-3"><br/></div>
	</div>
</div>