<div>
	<div class="row">
		<div class="col-md-4"><br/></div>
		<div class="col-md-4">
			<span>DATOS DE TARJETA</span><br/>
			<input type="text" value="Ingresa los 16 d&iacute;gitos de tu tarjeta" maxlength="16" /><br/>
			<div class="col-md-6">
				<input type="text" value="MM/AA" />
			</div>
			<div class="col-md-6">
				<input type="password" value="CVV" />
			</div><br/><br/>
			<div class="col-md-6">
				<button>REGRESAR</button>
			</div>
			<div class="col-md-6">
				<button ng-click="completeStep(2)">SIGUIENTE</button>
			</div>
		</div>
		<div class="col-md-4"><br/></div>
	</div>	
</div>