<div class="registerHeader row">
		<div class="row">
			<div class="col-md-1"><br/></div>
			<div class="col-md-5">
				<span class="regis">Perfecto</span><br/><br/>
			</div>
			<div class="col-md-6"><br/></div>
		</div>
		<div class="col-md-1"><br/></div>
		<div class="col-md-5">			
			<span>Ahora estas listo para poder disfrutar de<br/>
			los beneficios de cr&eacute;dito global.</span><br/>
		</div>
		<div class="col-md-5 ">
			<div class="numbers">
				<span class="stepNumber">1</span>
				<span class="stepNumber">2</span>
				<span class="stepNumber">3</span>
				<span class="stepNumber">4</span>
			</div> 
		</div>
		<div class="col-md-1"><br/></div>
</div>