<div>
	<div class="row">
		<div class="col-md-4"><br/></div>
		<div class="col-md-4">
			<div class="space row"><span class="titleRegister titleCardData">IMAGEN DE SEGURIDAD</span><br/></div>
			<div class="row">
				<table class="table3">
					<tr>
						<td><img class="img" src="images/img1.png" alt="img1" /></td>
						<td><img class="img" src="images/img2.png" alt="img2" /></td>
						<td><img class="img" src="images/img3.png" alt="img3" /></td>
						<td><img class="img" src="images/img4.png" alt="img4" /></td>
						<td><img class="img" src="images/img5.png" alt="img5" /></td>
					</tr>
				</table>
				<table class="table4">
					<tr>
						<td><img class="img" src="images/img6.png" alt="img6" /></td>
						<td><img class="img" src="images/img7.png" alt="img7" /></td>
						<td><img class="img" src="images/img8.png" alt="img8" /></td>
						<td><img class="img" src="images/img9.png" alt="img9" /></td>
						<td><img class="img" src="images/img10.png" alt="img0" /></td>
					</tr>
				</table><br/><br/>
			</div>
			<div class="barButton row">
				<div class="buttonFollow col-md-6">
					<button ng-click="completeStep(2)">REGRESAR</button>
				</div>
				<div class="buttonFollow col-md-6">
					<button ng-click="gotoLogin()">FINALIZAR</button>
				</div>
			</div>
		</div>
		<div class="col-md-4"><br/></div>
	</div>	
</div>