<div>
	<div class="row">
		<div class="col-md-4"><br/></div>
		<div class="col-md-4">
			<span>IMAGEN DE SEGURIDAD</span><br/>
			<table>
				<tr>
					<td><img src="" alt="img1" /></td>
					<td><img src="" alt="img2" /></td>
					<td><img src="" alt="img3" /></td>
					<td><img src="" alt="img4" /></td>
					<td><img src="" alt="img5" /></td>
				</tr>
				<tr>
					<td><img src="" alt="img6" /></td>
					<td><img src="" alt="img7" /></td>
					<td><img src="" alt="img8" /></td>
					<td><img src="" alt="img9" /></td>
					<td><img src="" alt="img0" /></td>
				</tr>
			</table><br/><br/>
			<div class="col-md-6">
				<button>REGRESAR</button>
			</div>
			<div class="col-md-6">
				<button>FINALIZAR</button>
			</div>
		</div>
		<div class="col-md-4"><br/></div>
	</div>	
</div>