<div>
	<div class="row">
		<div class="col-md-4"><br/></div>
		<div class="col-md-4">
			<span>DATOS DE USUARIO</span><br/>
			<input type="text" value="Nombre de usuario" /><br/>
			<input type="text" value="Contraseña" /><br/>
			<input type="text" value="Confirmar contraseña" /><br/>	
			<div class="col-md-6">
				<button>REGRESAR</button>
			</div>
			<div class="col-md-6">
				<button ng-click="completeStep(3)">SIGUIENTE</button>
			</div>
		</div>
		<div class="col-md-4"><br/></div>
	</div>	
</div>