<div id="homeFooter">
	<div class="row">
	<div class="col-md-1"><br/></div>
	<div clas="col-md-10">
		<div class="consult col-md-3">
			<div class="consult1 col-md-2">
				<img src="images/wallet.png" alt="consulta"></img>
			</div>
			<div class="consult2 col-md-10">
				<span class="letter">Consulta</span><br/>
				<span class="small">tu cuenta al instante de</span><br/>
				<span class="small">manera f&aacute;cil y segura.</span><br/>
			</div>
		</div>
		<div class="check col-md-4">
			<div class="check1 col-md-2">
				<img src="images/magnifier.png" alt="lupa"></img>
			</div>
			<div class="check2 col-md-10">
				<span class="letter">Revisa</span><br/>
				<span class="small">todos tus movimientos, no pierdas</span><br/>
				<span class="small">de vista como usas tu cr&eacute;dito.</span>
			</div>
		</div>
		<div class="phone col-md-3">
			<div class="phone1 col-md-2">
				<img src="images/endcall.png" alt="telefono"></img>
			</div>
			<div class="phone2 col-md-10">
				<span class="letter">Cont&aacute;ctanos</span><br/>
				<span class="small">cualquier comentario o duda, es</span></br>
				<span class="small">importante para nosotros atenderte.</span>
			</div>
		</div>
	</div>
	<div class="col-md-1"><br/></div>
	</div>
</div>