<div class="detail">
	<table class="table table-condensed tablePadding"> 
		<tr class="active">
			<td class="col-md-2 textCenter">FECHA</td>
			<td class="col-md-3">ESTABLECIMIENTO</td>
			<td class="col-md-2">DESCRIPCIÓN</td>
			<td class="col-md-3 textRight">MONTO</td>

		</tr>
		<tr class="titleTable">
			<td class="textCenter"><span>MAYO</span><br/><span>18</span></td>
			<td><span>Palacio de Hierro</span></td>
			<td><span>Departamentales</span></td>
			<td class="textRight"><span>-$50,000.00</span></td>
		</tr>
		<tr>
			<td class="textCenter"><span>MAYO</span><br/><span>18</span></td>
			<td><span>American Express</span></td>
			<td><span>Pago</span></td>
			<td class="textRight"><span>-$54,000.00</span></td>
		</tr>
		<tr class="titleTable">
			<td class="textCenter"><span>MAYO</span><br/><span>15</span></td>
			<td><span>Palacio de Hierro</span></td>
			<td><span>Pago</span></td>
			<td class="textRight"><span>$20,000.00</span></td>
		</tr>
		<tr>
			<td class="textCenter"><span>MAYO</span><br/><span>10</span></td>
			<td><span>Mart&iacute;</span></td>
			<td><span>Departamentales</span></td>
			<td class="textRight"><span>-$5,000.00</span></td>
		</tr>
		<tr class="titleTable">
			<td class="textCenter"><span>MAYO</span><br/><span>07</span></td>
			<td><span>Starbucks</span></td>
			<td><span>Restaurantes</span></td>
			<td class="textRight"><span>-$300.00</span></td>
		</tr>
		<tr>
			<td class="textCenter"><span>MAYO</span><br/><span>07</span></td>
			<td><span>Cablevisi&oacute;n</span></td>
			<td><span>Pago</span></td>
			<td class="textRight"><span>$10,000.00</span></td>
		</tr>		
	</table>
</div>