<div class="row">
		<div class="col-md-1"><br/></div>
		<div class="col-md-10">
			<div class="row">
				<div class="imgCard col-md-3">
					<img src="images/card.png" alt="card" />
				</div>
				<div class="col-md-3">
					<div class="cardTitle row">
						<span>TITULAR ABC *956</span>
					</div>
					<div class="cardAmount row">
						<div class="col-md-8"><span>$68,985</span></div>
						<div class="col-md-2 decimal"><span>00</span></div>
					</div>
					<div class="cardDate row">
						<span>Cr&eacute;dito disponible</span>
					</div>
				</div>
				<div class="cardDate col-md-4">
					<div class="row">
						<div class="col-md-8">
							<span>Fecha de corte:</span>
						</div>
						<div class="col-md-4">
							<span>19/05/2015</span>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-8">
							<span>Fecha l&iacute;mite de pago:</span>
						</div>
						<div class="col-md-4">
							<span>25/05/2015</span>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<div class="col-md-1"><br/></div>
	</div>