<div id="home">
	<div ng-include="'views/partials/layout/header.html'"></div>
	<div ng-include="'views/partials/home/home-header.html'"></div>	    
	<div class="Body">
		<div class="Discover row">
			<div class="col-md-1"><br/></div>
			<div class="col-md-11">
				<span>DESCUBRE LO F&Aacute;CIL QUE ES ADMINISTRAR</span><br/>
				<span>TU CR&Eacute;DITO DE LA FORMA M&Aacute;S F&Aacute;CIL Y SEGURA.</span><br/>
			</div>
		</div>
		<div class="Enjoy row">
			<div class="row">
				<div class="col-md-8"><br/></div>
				<div class="Enjoy1 col-md-3">
					<span>Disfruta de los beneficios de<br/>
					Cr&eacute;dito Global en cualquier lugar</span><br/>
					<span class="small">DESCARGA LA APP</span>
				</div>
				<div class="col-md-1"><br/></div>
			</div>
			<div class="Enjoy2 row">
				<div class="col-md-8"><br/></div>
				<div class="col-md-3">
					<img class="Google" src="images/google.png" alt="GoogleStore"></img>
					<img class="Apple" src="images/apple.png" alt="AppleStore"></img>					
				</div>
				<div class="col-md-1"><br/></div>
			</div>
		</div>				
	</div>
	<div ng-include src="'views/partials/home/home-footer.html'"></div>
	<div ng-include src="'views/partials/layout/footer.html'"></div>
</div>